@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,600;0,900;1,100;1,200;1,400;1,500;1,800&display=swap');


*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Poppins';
    
}
header{
    background-color:rgb(226, 145, 145);  
    height: 600px;
    background-color: rgb(32, 32, 32);
    background-image:url('../image/bg22.webp');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 78%;
    color: white;
}

.body-head{
    margin-left: 10%;
    width: 30%;
    justify-content: space-evenly;
    
}
.body-heads{
    font-size: large;
    font-weight: bold;
    margin-left: 10%;
}

.project-btn{
    font-size: 20px;
    cursor: pointer;
    margin-left: 10%;
    border: 2px solid white;
    border-radius: 2ch;
    width: 241px;
    color: black;
    
}

.project-btn:hover{
    background-color: black;
    color: white;
}

.shape{
    position: absolute;
    background-color: white;
    color: black;
    height: 120px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 49.5%;
    top: 67%;
    border: solid grey;
    border-top-left-radius: 2cm;
    border-top-right-radius: 2cm;
    background-color: rgb(237, 233, 233);
}

nav{
    display: flex;
    width: 100%;
    justify-content:space-between;
    flex-direction: row;
    align-items: center;
    padding: 5px 140px 5px 140px;
    font-size: medium;
    box-shadow: 0px 1px 10px rgb(164, 162, 162);
    position: fixed;
    top: 0%;
}

.nav{
    /* position: fixed; */
    background-color: rgb(0, 0, 0);
}

nav li{
    list-style: none;
    font-weight: 500;
    display: inline-block;
    padding: 0px 10px;
    font-size: small;
}
nav a{
    
    text-decoration: none;
    color: white;
}
nav a:hover{
    border-bottom-style: solid;
    border-bottom-color: white;
    border-bottom-width: 1px;
    color: white;
}
.btn-git{
    font-size: 20px;
    padding: 10px;
    width: 200px;
    margin-top: 300px;
    margin-left: 75%;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 2cm;
    color: black;
}

.btn-git:hover{
    border-bottom-style: solid;
    background-color: rgb(206, 203, 203);
    
}
/* section fields */
.fields{
    padding: 10%;
    display: flex;
    flex-direction: row;
    color: white;
}
.fields div{
    margin: 0px 30px 0px 10px;
    cursor: pointer;
    border: 1px solid black;
    padding: 10px;
    justify-content: space-around;
    color: black;
    
}
.fields div h1{
    padding: 25px 0px;
}
.fields div p{
    padding: 5px 0px;
}

.fields div:hover{
    box-shadow: 3px 3px 0px black;
    transition: all 0.3s ease 0s;
    background-color: rgb(206, 203, 203);
}
.order{
    width: 100%;
    margin-top: 25px;
    padding: 10px;
    font-weight: 300px;
    font-size: 20px;
    border: 1px solid white;
    background-color: black;
    color: white;
    border-radius: 2ch;
}
.order:hover{
    background-color: grey;
    cursor: pointer;
    border: 1px solid white;

}

/* .pic {
    /* margin-left: 1000px; */
    /* margin-top: 15%; */

/* } */ */
.headd{
    margin-left: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 30%;
    font-size: large;
}
.bodysection{
    background-color: rgb(237, 233, 233);
}

.keepintouch{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
#keepintouch{
    background-color: rgb(154, 152, 152);
    
}
.keepintouch ul{
    list-style: none;
}
.section-title{
    margin-left: 68%;
}
.hobbies{
   margin-left: 10%; 
   font-size: ;
   font
}
.social ul li a{
    text-decoration: none;
}
.contact{
    margin-left: 52%;
    margin-top: 2%;
}
.contact form{
    display: flex;
    flex-direction: column;
    width: 150%;

}
.contact form input{
    margin-bottom: 5%;
}